.container {
  position: relative;
  width: 100%;
  max-width: 1024px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.header-wrap {
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  color: #ffffff;
  background-color: #2196f3;
}

.header-wrap button {
  height: 20px;
}



.left-aside-wrap,
.right-aside-wrap {
  position: absolute;
  z-index: -1;
  width: 302px;
  min-height: 502px;
  clip: rect(0, auto, auto, 0);
}
.left-aside-wrap.active,
.right-aside-wrap.active {
  z-index: 2;
}

.left-aside-wrap {
  left: 0;
}

.left-aside-wrap.active {

}

.right-aside-wrap {
  right: 0;
}

.right-aside-wrap.active {

}

.left-aside,
.right-aside {
  position: fixed;
  width: 300px;
  min-height: 500px;
  text-align: center;
  background-color: #ffffff;
  border: 1px dashed #f44336;
  transition: .5s;
}

.left-aside {
  transform: translateX(-100%);
}

.left-aside.active {
  transform: translateX(0);
}

.right-aside {
  transform: translateX(100%);
}

.right-aside.active {
  transform: translateX(0);
}

@media only screen and (max-width : 1024px) {
  .left-aside-wrap,
  .right-aside-wrap {
    z-index: 2;
    width: 0;
    min-height: 0;
    clip: auto;
	}

  .right-aside {
    transform: translateX(0);
  }

  .right-aside.active {
    transform: translateX(-100%);
  }
}

@media only screen and (max-width : 420px) {
	.left-aside,
	.right-aside {
    box-sizing: border-box;
		width: 100%;
	}
}



.content {
  z-index: 1;
  min-height: calc(100vh - 70px);
  margin-top: 40px;
  padding: 10px;
  background-color: #ffffff;
  border-left: 1px solid  #2196f3;
  border-right: 1px solid  #2196f3;
}

.content::after {
  content: "";
  display: table;
  clear: both;
}

.content .page-discription {
  height: 98px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px dashed #2196f3;
}

.content .main-content-wrap {
  display: flex;
  justify-content: space-between;
}

.content .main-content input[type=checkbox]:checked + .hidden {
  display: block;
}

.content .main-content .hidden {
  display: none;
}

.content .main-content.sticky p {
  padding-right: 200px;
}

.content .right-block {
  /* position: -webkit-sticky;
  position: sticky;
  top: 40px; */
  display: flex;
  justify-content: center;
  height: 300px;
  min-width: 198px;
  margin-top: 10px;
  background-color: #ffffff;
  border: 1px dashed #f44336;
}

.content .right-block-wrap.sticky {
  min-width: 200px;
}

.content .right-block-wrap.sticky .right-block {
  position: fixed;
  top: 30px;
}

.content .right-block p {
  writing-mode: tb-rl;
  text-align: center;
  font-size: 24px;
}

@media only screen and (max-width : 480px) {
	.content .main-content-wrap {
		flex-direction: column-reverse;
	}

	.content .right-block {
	  height: 50px;
	  border: 1px dashed #f44336;
	}

  .content .right-block-wrap.sticky .right-block {
		width: 94%;
	}

	.content .right-block p {
    margin-top: 10px;
    margin-bottom: 10px;
    writing-mode: lr-tb;
	}
}



.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  color: #ffffff;
  background-color: #2196f3;
}

.footer p {
  margin: 0;
}
